/* PiratesInc!

Hoja de Estilos para Kross - Encuentra tu Kross por PiratesInc.algo
-------------------------------------------------------------------------------*/
@import url("css/reset.css");
@import url("css/general.css");


/* Fonts!
-------------------------------------------------------------------------------*/

@font-face {
    font-family: 'DaxCompactBlack';
    src: url('fonts/daxcompb-webfont.eot');
    src: url('fonts/daxcompb-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/daxcompb-webfont.woff') format('woff'),
         url('fonts/daxcompb-webfont.ttf') format('truetype'),
         url('fonts/daxcompb-webfont.svg#DaxCompactBlack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DaxCompactExtraBold';
    src: url('fonts/daxcomeb-webfont.eot');
    src: url('fonts/daxcomeb-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/daxcomeb-webfont.woff') format('woff'),
         url('fonts/daxcomeb-webfont.ttf') format('truetype'),
         url('fonts/daxcomeb-webfont.svg#DaxCompactExtraBold') format('svg');
    font-weight: normal;
    font-style: normal;
}